@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5efe6;
  --foreground: #7d6e83;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

pre code.hljs {
  padding: 20px 0px 20px 40px !important;
  border-radius: 10px;
  margin: 50px;
}

.hjls {
  display: inline;
  border-radius: 50%;
}
